.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 10px;
    z-index: 1010;
    border-radius: 15px;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
}

title {
    text-align: center;
    margin-bottom: 20px
  }

.formGroup {
    margin-bottom: 15px
  }

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

.input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  

.buttonGroup {
    display: flex;
    justify-content: space-between;
  }
  
  .createButton {
    /* background-color: #4CAF50; */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancelButton {
    /* background-color: #f44336; */
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  